DSC/BuildOutput/*

!DSC/DscConfigurations/

DSC/DscConfigurations/*
!DSC/DscConfigurations/CommonTasks

DSC/DscConfigurations/CommonTasks/*
!DSC/DscConfigurations/CommonTasks/0.3.190

DSC/DscConfigurations/CommonTasks/0.3.190/*
!DSC/DscConfigurations/CommonTasks/0.3.190/DscResources

DSC/DscConfigurations/CommonTasks/0.3.190/DscResources/*
!DSC/DscConfigurations/CommonTasks/0.3.190/DscResources/Ord

DSC/DscResources/*
!DSC/DscResources/ORDDSCModule

Lab/testResults.xml
